html {
  height: 100%;
}

body {
  position: relative;
  /* This is important*/
  min-height: 100%;
  /* This is important*/
  padding-bottom: 70px;
}

footer {
  position: absolute;
  /* This is important*/
  right: 0;
  /* This is important*/
  bottom: 0;
  /* This is important*/
  left: 0;
  /* This is important*/
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}