html {
  height: 100%;
}

body {
  position: relative;
  /* This is important*/
  min-height: 100%;
  /* This is important*/
  padding-bottom: 70px;
}

footer {
  position: absolute;
  /* This is important*/
  right: 0;
  /* This is important*/
  bottom: 0;
  /* This is important*/
  left: 0;
  /* This is important*/
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

#alerts {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

#alerts .fade {
  opacity: 0;
  transition: 0.7s opacity;
}

.alert {
  width: 350px;
  /* padding: 7px; */
  /* border-radius: 3px; */
  /* background-color: rgb(215, 232, 248); */
  margin-top: 15px;
  opacity: 1;
  transition: 0.7s opacity;
}

/* .alert {
  width: 350px;
  padding: 7px;
  border-radius: 3px;
  background-color: rgb(215, 232, 248);
  margin-top: 15px;
  opacity: 1;
  transition: 0.7s opacity;
}

.alert h5 {
  margin-bottom: 2px;
  padding-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12)
}

#alerts .fade {
  opacity: 0;
  transition: 0.7s opacity;
}

#alerts .success,
#alerts .info,
#alerts .warning,
#alerts .error {
  color: #fff;
}

#alerts .success {
  background: rgb(40, 117, 40);
}

#alerts .info {
  background: rgb(64, 196, 201);
}

#alerts .warning {
  background: rgb(250, 185, 5);
}

#alerts .error {
  background: rgb(207, 51, 12);
} */